/* CSS can be applied to tags, selectors, classes and IDs */

.header-nav {
  background-color: rgb(61, 48, 118);
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header-nav__item {
  display: inline-block;
}

.header-nav__item a {
  color: white;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

/* pseudo classes */
.header-nav__item a:hover {
  color: rgb(149, 255, 0)
}

.header-nav__item a:active {
  color: yellow
}

/* pseudo elements */
.header-nav__item a::after {
  content: " |";
}

/* tag */
form {
  color: grey;
  font-size: xx-large;
}

/* class */
.signup-form {
  color: red
}

/* ID */
#pid {
  color: blue
}