/* basic config */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 2rem;
}

/* footer */

.div-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: rgba(242, 230, 255, 0.3);
  display: flex;
  align-items: center;
}

footer p {
  padding-left: 1.6rem;
  color: ivory;
}

/* body */
body {
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
  height: 100vh;
}


/* main */

main {
  padding-top: 6rem;
}

main button, input {
  background-color: rgba(242, 230, 255, 0.5);
  border: none;
  border-radius: 1.6rem;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.div-form {
  background-color: rgba(242, 230, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  /* min-width: 10rem;
  max-width: 36rem; */

  width: 50vw;

  height: 60vh;

  /* min-height: 10rem; */
  /* height: 28rem; */

  margin-left: 25vw;
}

/* Quiero que aparezca en el medio de la pantalla siempre */
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

/* quiero que tengan un margen mínimo
  Sign up a la izquierda
  Sign in a la derecha
  Y que se separen entre ellos con cierto porcentaje
  Que mientras más grande es la pantalla más se separan
  Mientras más chica es la pantalla más se acercan (pero poquito) */

.form-title {
  display: flex;
  justify-content: space-between; 
  padding-bottom: 3.2rem;
}


/* header */

.header-nav {
  background-color: rgba(242, 230, 255, 0.3);
  list-style: none;
}

.header-nav li {
  font-size: 2rem
}

.header-nav__item {
  display: inline-block;
}

.header-nav__item a {
  text-decoration: none;
  color: black;
}
